%h1 戯書2期アーカイブ
%p
  このサイトでは『
  %a{:href => "http://lisge.com/", :target => "_blank"} 戯書
  』
  %span.note (サイト消滅によりリンク先は製作者様サイト)
  を解析して得られる情報を扱っています。
  %br
  ゲーム運営終了に伴い、全戦闘結果から取得したデータを残しています。
%br

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-12
        %ul
          %li= link_to "キャラクター愛称一覧", names_path
          %li= link_to "結果一覧", pages_path

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2018/11/17
      %ul
        %li サイト公開
