%p.formNum
  数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
  %br
  「100~」で100以上、「~100」で100以下、「-200~100」で-200～100の範囲指定となります。
%p.formText
  「光」と入力　→　光の騎士、光の使い……が検索結果にヒット
  %br
  「"光"」　→　完全一致で「光」のみ検索結果にヒット
  %br
  「-光」　→　「光」の単語を含まない目的が検索結果にヒット
  %br
  「-"光"」　→　完全一致で「光」以外が検索結果にヒット
  %br
  「光 騎士」　→　「光」と「騎士」の2つの単語が含まれるものが検索結果にヒット
  %br
  「光/騎士」　→　「光」か「騎士」のどちらかの単語が含まれるものが検索結果にヒット
  %br
  「光 騎士/使い」　→　「光」が含まれ、さらに 「騎士」か「使い」 が含まれるものが検索結果にヒット
  %br
  「-光 -騎士」　→　「光」もしくは「騎士」という単語が含まれるものを検索結果から除外
